@use "./variables.scss" as *;
@use "./utility_selectors.scss" as *;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


li {
    list-style: none;
}

a {
    text-decoration: none !important;
}


// customization scrollbar (only safari and chrome)


::-webkit-scrollbar {
    width: 6px;
    background-color: $clr_primary_light;
}

::-webkit-scrollbar-thumb {
    background: $clr_countdown;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: $clr_countdown;
}