@use "./variables" as *;
@use "./utility_selectors.scss" as *;


header {
    height: 80px;
    border-radius: 15px;
    background-color: $clr_primary_light;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    .main_logo {
        width: 150px;
    }

    .social_links a {
        color: $clr_dusty_gray;
    }
}