@use "./variables" as *;
@use "./utility_selectors.scss" as *;


header {
    height: 80px;
    background-color: $clr_primary_light;

    .main_logo {
        width: 150px;
    }

    .social_links a {
        color: $clr_dusty_gray;
    }
}