@use "./variables" as *;
@use "./utility_selectors.scss" as *;


.blog_section {
    background-color: $clr_blog_section;
    background-image: url("../assets/img/images/maxcoach-shape-14-1536x343.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 500px;

        .links_to_articles {
            height: 100%;

            .on_the_left {
                margin-top: 10%;

            }

            .main_article {

                z-index: 5;
                filter: drop-shadow(1px 2px 4px black);
                height: 100%;
                margin-bottom: 20px;
                cursor: pointer;
                transition-duration: 2s;

                &:hover {
                    filter: drop-shadow(2px 2px 4px $clr_italic_heavenly);
                }


                .img_container {
                    width: 100%;
                    height: 100%;


                    img {
                        filter: brightness(80%);
                        object-fit: cover;
                        width: 100%;
                        max-height: 100%;
                    }

                }

                .details {
                    bottom: 20px;
                    left: 20px;
                    color: $clr_primary_light;

                    .title {
                        word-wrap: break-word;
                    }

                    &.middle_card * {
                        text-shadow: 1px 1px 1px $clr_total_dark;
                    }

                }

                .details_container {
                    padding: 10px;
                    background-color: $clr_primary_light;
                }
            }

        }

        .bottom a {
            font-weight: 700;
            color: $clr_juice_button;
            transition-duration: 0.4s;

            &:hover {
                text-decoration: underline !important;
            }

        }

        // SHAPES ON BACKGROUND 

        .shapes_container {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            max-width: 600px;

            img {
                width: 100%;
                position: absolute;
            }

            .shape_abstract {
                top: 89%;
                right: -10%;
                width: 190px;
                transform: rotate(90deg);
            }

            .shape_dotted {
                top: 10%;
                right: 84%;
                width: 100px;
            }

            .shape_big_dotted {
                bottom: 51%;
                right: -25%;
                width: 120px;
            }

            .shape_circle {
                z-index: 6;
                color: $clr_juice_button;
                bottom: 77%;
                right: 145%;
                font-size: 60px;
                font-weight: bold;
                position: absolute;
            }
        }
    }
}