@use "./variables" as *;



// In main zone 

.f_fasthand {
    font-family: 'Comforter', cursive;
}

.heavenly {
    color: $clr_italic_heavenly;
}


.z_index5 {
    z-index: 5;
}


// big black title in every section
.main_title {
    font-weight: 900;
    word-wrap: break-word;
}

// one of 2 type of button 

.gray_button {
    background-color: $clr_button_background;
    color: $clr_tulip_tree;
    margin: 20px 0;
    padding: 15px 25px;
    font-weight: 600;
    font-size: calc(12px + 0.1vw);
    border-radius: 4px;
    border: none;
    transition-duration: 0.5s;

    &:hover {
        background-color: $clr_left_spot;
        // color: $clr_brackets;
        // border: 2px solid $clr_brackets;
    }
}

// Transition on image

.shrink:hover {
    transform: scale(0.85%);
}



// font-family: 'Fasthand', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;