@use "./variables" as *;


.f_fasthand {
    // font-family: 'Fasthand', cursive;
    font-family: 'Comforter', cursive;
}

.heavenly {
    color: $clr_italic_heavenly;
}


.z_index5 {
    z-index: 5;
}

// font-family: 'Fasthand', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto', sans-serif;